@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.websiteBody {
	display: flex;
}

.unorderedList {
	list-style: none;
	padding: 0;
}

.inline {
	display: inline;
}

.navigator {
	display: inline-flex;
	list-style: none;
}

.divNavigator {
	display: inline;
	margin-top: 1rem;
}

a {
	text-decoration: none;
	color: black;
}

.navLinks {
	font-size: 3em;
	margin-left: 2.5rem;
}

.navLinks:hover {
	color: blue;
	border-bottom: 3px blue solid;
	margin-bottom: -3px;
}

.extraInformation {
	outline: 1px black solid;
	height: 273px;
	width: 260px;
	margin-top: 7rem;
	background-color: lightgrey;
	margin-left: 2rem;
	overflow-y: hidden;
}

#extraBtn {
	border: 5px darkgray groove;
	background-color: #71797E;
	width: 250px;
}

#dropdownarrow {
	position: relative;
	top: 5px;
	left: 50px;
	cursor: pointer;
}

.Roboto {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline;
}

.extraLinks {
	padding-top: 10px;
	padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    border-bottom: 1px black solid;
}

.extraLinks:hover {
	color: blue;
}

#extraLink {
	padding-top: 0;
}

#welcomeToUkrainePeremozhe {
	width: fit-content;
	margin-left: 25rem;
	margin-top: -23.5rem;
}

.title {
	font-size: 2.5em;
	font-family: 'Gloock', serif;
}

.doPeremohe {
	text-decoration: underline;
}

.introduction {
	width: 700px;
	font-size: 1.12em;
	font-family: 'Poppins', sans-serif;
	margin-left: 23rem;
}

.contactUkrainePeremozhe {
	width: 200px;
	height: 300px;
	outline: 3px black solid;
	margin-top: -25rem;
	float: right;
	margin-right: 2rem;
	background-color: gray;
}

#contactTitle {
	text-align: center;
	border-bottom: 3px solid black;
	padding-bottom: 15px;
	padding-top: 15px;
	margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.emailInput  {
	width: 120px;
	outline: none;
}

#emailSubmit {
	float: right;
	background-color: #28282B;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-right: 30px;
}

#emailSubmit:hover {
	background-color: #353935;
}

.emailMargin {
	background-color: gainsboro;
	height: 230px;
}

#tableMargin {
	padding-top: 15px;
}

#None {
	display: none;
}

.newAdditions {
	width: 380px;
	font-size: 1.4em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-left: 7rem;
	border: 1px black solid;
	border-radius: 15px;
	background-color: lightgrey;
	padding: 3px;
	cursor: pointer;
	background: rgb(255,231,228);
    background: radial-gradient(circle, rgba(255,231,228,1) 0%, rgba(168,158,158,1) 100%);
}

.Additions {
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 10px 0 20px 15px;
}

.Rozdil {
	font-size: 1.5em;
	margin-left: 20px;
}

#quizParagraph {
	font-size: 1.05em;
}

#kartynyParagraph {
	font-size: 1.2em;
}

#sourcesParagraph {
	font-size: 1.4em;
}

/* History Section */

.contentHistory {
	width: 600px;
	margin-left: 1rem;
}

.BriefSummary {
	width: 950px;
	margin-left: 1rem;
}

.BriefTitle {
	display: inline;
	font-size: 2em;
	position: relative;
	bottom: 4rem;
	left: 20px;
	font-family: 'Gloock', serif;
}

.BriefParagraph {
	font-family: 'Poppins', sans-serif;
}

.BriefSections {
	margin-top: 3rem;
}

#historyName {
	text-align: center;
	font-size: 3em;
	font-family: 'Gloock', serif;
}

#historyParagraph {
	width: 550px;
	margin: auto;
	font-family: 'Poppins', sans-serif;
}

.historyTopic {
	width: 350px;
	height: 450px;
	border: 2px black solid;
	border-radius: 15px;
	float: right;
	position: absolute;
	bottom: 1rem;
	left: 41rem;
	background-color: lightgoldenrodyellow;
	overflow-y: scroll;
}

.historyTopic::-webkit-scrollbar {
	display: none;
}

.historyImages {
	width: 300px;
	height: 14800px;
	border-left: 3px black solid;
	position: absolute;
	right: 0;
	top: 8.5rem;
}

#historyBody {
	border-bottom: 3px black solid;
}

.searchSection {
	margin: 1rem;
}

#colorSearch {
	height: 50px;
	width: 350px;
	position: absolute;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: orangered;
	border-bottom: 2px black solid;
}

#searchTopic {
	border: 2px black groove;
	outline: none;
}

#searchTopicc {
	border: 2px black groove;
	outline: none;
}

.searchTopicBtn {
	border: 2px solid black;
	font-weight: bold;
	background-color: #28282B;
	color: white;
	cursor: pointer;
}

#historyTopicBtn:hover {
	background-color: #353935;
}

.topics {
	font-size: 1.5em;
	color: #EC5800;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	width: fit-content;
	margin: auto;
	margin-bottom: 10px;
}

.topics:hover {
	text-decoration: underline;
}

.topicContent {
	margin-top: 4rem;
}

.topiCContent {
	margin-top: 4rem;
}

.imagesPeremozhe {
	width: fit-content;
	margin: auto;
	margin-bottom: 3rem;
}

.captions {
	width: 250px;
	margin: auto;
	text-align: center;
}

/* Culture Section */

#colorSearchCulture {
	height: 50px;
	width: 350px;
	position: absolute;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: #1434A4;
	border-bottom: 2px black solid;
}

.historyCulture {
	width: 350px;
	height: 450px;
	border: 2px black solid;
	border-radius: 15px;
	float: right;
	margin-top: -45.5rem;
	margin-right: 21.5rem;
	background-color: lightblue;
	overflow-y: scroll;
}

.historyCulture::-webkit-scrollbar {
	display: none;
}

.topicsCulture {
	font-size: 1.5em;
	color: #00008B;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	width: fit-content;
	margin: auto;
	margin-bottom: 10px;
}

.topicsCulture:hover {
	text-decoration: underline;
}

.CultureImages {
	width: 300px;
	height: 800px;
	border-left: 3px black solid;
	position: absolute;
	right: 0;
	top: 8.5rem;
}

.Vebir {
	width: 400px;
	height: 150px;
	border: 2px black solid;
	border-radius: 10px;
	background-color: lightblue;
	float: right;
	margin-right: 20rem;
	margin-top: -13.5rem;
}

#UkraineCulture {
	margin-top: 1rem;
	line-height: 30px;
}

#Krashche {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
}

/* Extra Information Basic Layout */

.flexBox {
	display: flex;
}

.extraNav {
	display: inline-flex;
	margin: 1rem;
}

.extraHeader {
	border: 5px darkgray groove;
	background-color: #71797E;
	height: fit-content;
	font-size: 2em;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}

.extraClasses {
	margin-top: 1.3rem;
	white-space: nowrap;
	width: 80px;
	height: 52px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	overflow-y: hidden;
	overflow-x: hidden;
	user-select: none;
	cursor: pointer;
	border: 3px darkgray groove;
	transition: 1s;
}

.extraClasses:hover {
	width: 250px;
}

.extraP {
	background-color: transparent;
	position: relative;
	bottom: 17px;
}

.extraClasses::-webkit-scrollbar {
	display: none;
}

#extraSection {
	max-width: 600px;
	height: 440px;
	margin: auto;
	border: 2px black solid;
	border-radius: 10px;
	margin-top: 1rem;
	background-color: #F0F8FF;
}
#extraSectionTWO {
	max-width: 600px;
	height: 440px;
	margin: auto;
	border: 2px black solid;
	border-radius: 10px;
	margin-top: 1rem;
	background-color: #FFFAA0;
}
#extraSectionSIX {
	max-width: 600px;
	height: 440px;
	margin: auto;
	border: 2px black solid;
	border-radius: 10px;
	margin-top: 1rem;
	background-color: #CF9FFF;
}
#extraSectionSEVEN {
	max-width: 600px;
	height: 440px;
	margin: auto;
	border: 2px black solid;
	border-radius: 10px;
	margin-top: 1rem;
	background-color: #FAFAD2;
}
#extraSectionEIGHT {
	max-width: 600px;
	height: 440px;
	margin: auto;
	border: 2px black solid;
	border-radius: 10px;
	margin-top: 1rem;
	background-color: #E1C16E;
}
#extraSectionNINE {
	max-width: 600px;
	height: 440px;
	margin: auto;
	border: 2px black solid;
	border-radius: 10px;
	margin-top: 1rem;
	background-color: #98FB98;
}

.extraPictureMargin {
	margin: 0.5rem;
}

.extraInline {
	display: inline;
	font-size: 2.5em;
	position: relative;
	bottom: 3rem;
	font-family: 'Roboto', sans-serif;
}

.extraParagraph {
	width: 500px;
	text-align: center;
	font-weight: bold;
	margin: auto;
}

#influenceBtn {
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	margin-left: 15rem;
	margin-top: 1rem;
	background-color: #d7ecff;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
#influenceBtnTWO {
	background-color: #FBEC5D;
		font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	margin-left: 15rem;
	margin-top: 1rem;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
#influenceBtnSIX {
	background-color: #AA98A9;
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	margin-left: 15rem;
	margin-top: 1rem;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
#influenceBtnSEVEN {
	background-color: #E6BE8A;
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	margin-left: 15rem;
	margin-top: 1rem;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
#influenceBtnEIGHT {
	background-color: #CD7F32;
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	margin-left: 15rem;
	margin-top: 1rem;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
#influenceBtnNINE {
	background-color: #0BDA51;
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	margin-left: 15rem;
	margin-top: 1rem;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.extraA {
	width: 250px;
}

#blue {
	background-color: #F0F8FF;
}

#yellow {
	background-color: #FFFAA0;
}

#purple {
	background-color: #CF9FFF;
}

#gold {
	background-color: #FAFAD2;
}

#chocolate {
	background-color: #E1C16E;
}

#green {
	background-color: #98FB98;
}

.continuePage {
	display: none;
}

.continuePageName {
	font-size: 3em;
	position: absolute;
	top: 1rem;
	left: 10rem;
}

/* Ukrainian Influence  */

.topicBoxes {
	margin: 2rem;
}

.extraSearchTopics {
	border-radius: 15px;
	background-color: #F0F8FF;
	border-color: #d7ecff;
	padding-left: 10px;
	font-weight: bold;
}

.extraSearchTopics::placeholder {
	color: black;
}

.extraSearchArt {
	background-color: #CF9FFF;
	border-color: #AA98A9;
}

.extraSearchNarodni {
	background-color: #E1C16E;
	border-color: #9F8170;
}

.Treba {
	position: relative;
	bottom: 10px;
	margin-left: 10px;
	font-size: 1em;
	font-family: 'Alkatra', cursive;
}

.Krasa {
	border-right: 1px solid black;
	padding-right: 10px;
}

.extraList {
	border: 2px solid black;
	border-radius: 15px;
	background-color: #F0F8FF;
	width: fit-content;
	padding: 10px 10px 0 10px;
	margin-left: 1rem;
	margin-top: 2rem;
	cursor: pointer;
}

.extraListArt {
	background-color: #CF9FFF;
}

.extraListNarodni {
	background-color: #E1C16E;
}

.extraDaily {
	height: 210px;
	width: 400px;
	display: inline-block;
	float: right;
	background-color: #F0F8FF;
	border-radius: 10px;
	outline: 2px solid black;
	margin-right: 5rem;
	margin-top: 1rem;
}

.extraDailyArt {
	background-color: #CF9FFF;
}

.extraDailyNarodni {
	background-color: #E1C16E;
}

.dailyTopic {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 1rem 0 0 0;
	padding-bottom: 1rem;
	border-bottom: 2px solid black;
}

#buttonSearch {
	display: none;
}

.Learn {
	width: 400px;
	height: 400px;
	border: 2px solid black;
	background-color: white;
	position: fixed;
	left: 31rem;
	top: 8.5rem;
	overflow-y: scroll;
	display: none;
}

.Learn::-webkit-scrollbar {
	display: none;
}

.KrasaDva {
	width: 100px;
	height: 100px;
	margin: 1rem;
	border-radius: 50%;
}

.Imya {
	display: inline;
	position: relative;
	bottom: 55px;
	font-size: 1em;
}

.Description {
	width: 350px;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

.KrasotaDva {
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
	position: relative;
	bottom: 18px;
	padding-left: 20px;
	font-size: 0.8em;
}

.KrasotaDva:hover {
	color: blue;
}

.Vse {
	margin-left: 1rem;
}

.razdvatry {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.5em;
	margin: 10px;
	cursor: pointer;
}

/* Quiz About Ukraine */

.divQ {
	width: fit-content;
	position: relative;
	top: -14rem;
	margin: auto;
}

.QID {
	display: inline;
	font-size: 1.8em;
	white-space: nowrap;
	position: relative;
	bottom: 4rem;
	font-family: 'Roboto', sans-serif;
}

.imgQ1 {
	margin-top: 5rem;
	margin-left: 3rem;
}

.imgQ2 {
	float: right;
	margin-top: 5rem;
	margin-right: 3rem;
}

.tableMarginQ {
	margin: auto;
}

.extraAn {
	border: 2px black solid;
	border-radius: 15px;
	padding: 10px;
	background-color: #FFFAA0;
	cursor: pointer;
}

#and1, #and3 {
	margin-right: 20px;
}
#and2, #and4 {
	margin-left: 20px;
}

.progressQ {
	width: 100%;
	height: 100px;
	border-top: 3px black solid;
	background-color: #FFFAA0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

.inlineQP {
	display: inline;
	width: 25px;
	height: 25px;
	border: 1px black solid;
	border-radius: 50%;
	/*background-color: white;*/
	margin-left: 10px;
	margin-right: 10px;
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(218,230,230,1) 100%);
}

.noneQP {
	display: none;
}

#theScore {
	font-size: 5em;
	width: fit-content;
	margin: auto;
	text-decoration: underline;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

#Score {
	margin-top: 3rem;
	line-height: 7rem;
}

#yourScore {
	font-size: 3em;
	width: fit-content;
	margin: auto;
	color: white;
	text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.scoreBox {
	border: 3px black solid;
	background-color: #FFFAA0;
	width: 400px;
	margin: auto;
}

#paragraphScore {
	width: fit-content;
	margin-top: 3rem;
	margin: auto;
	font-weight: bold;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

#progressName {
	position: absolute;
	left: 10px;
	bottom: 4rem;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
}

#CorrectAnswers {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	width: fit-content;
	margin: auto;
}

/* Roksolana Virlan */

.Kartyny {
	width: fit-content;
	margin: auto;
	margin-bottom: 8rem;
	text-align: center;
}

.ImyaKartyny {
	font-family: Poppins, sans-serif;
	font-size: 3em;
}

.Opys {
	font-size: 1.5em;
	width: 500px;
}

.Horu {
	margin-top: -3rem;
}

/* Ukrainian Language */

.basicWords {
	height: 450px;
	width: 300px;
	display: flex;
	position: absolute;
	top: 10rem;
	margin-left: 1rem;
	display: inline-block;
}

.titleBasicWords {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid black;
}

.Cyrillic {
	height: 450px;
	margin-left: 23rem;
	position: absolute;
	top: 10rem;
}

.parahrafa {
	width: 500px;
}

.parahrafaDiv {
	float: right;
	margin-right: 4rem;
	margin-top: -5rem;
}

.Pryvit {
	font-size: 3em;
	text-align: center;
}

.BOLD {
	font-weight: bold;
}

.languageVideo {
	margin-left: 22.5rem;
	outline: 1px black solid;
}

.pronounce {
	margin-top: 32.8rem;
	margin-left: 25.8rem;
	margin-bottom: 1rem;
	font-family: 'Gloock', serif;
	font-size: 0.9em;
	display: inline-block;
}

.moreLanguage {
	width: 1000px;
	margin-left: 22rem;
	border-top: 2rem solid transparent;
}

.moreLangText {
	text-align: center;
	font-family: 'Gloock', serif;
	font-size: 3em;
}

.langInline {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	width: 950px;
}

.EMLang {
	font-size: 0.8em;
}

.gridLanguage {
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	float: right;
	margin-right: 3rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.Krasota {
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
	position: relative;
	bottom: 18px;
	padding-left: 20px;
}

.Krasota:hover {
	color: blue;
}

.Border50 {
	border-radius: 50%;
}

/* Ukrainian Folk Songs */

.OHO {
	font-weight: 1000;
}

.Slovo {
	position: relative;
	top: 15px;
	font-family: 'Lobster', sans-serif;
	text-decoration: underline;
}

.Slova {
	position: relative;
	top: 15px;
	line-height: 5px;
}

.Muzyka {
	color: blue;
}

.DescriptionNarodni {
	margin-left: 30px;
	position: relative;
	bottom: 25px;
}

.NarodniHR {
	border-color: black;
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.NarodniSlova {
	margin-left: 30px;
}

/* All Sources */

.Sources {
	margin: 1rem 0 1rem 1rem;
}

/*  */

@media only screen and (max-width: 1250px) {

	.contactUkrainePeremozhe {
		float: left;
		margin-left: 4rem;
		position: relative;
		top: 3rem;
	}

	.navLinks {
	    font-size: 2.5em;
    }

    .introduction {
    	font-size: 1.5em;
    }

    .basicWords {
    	margin-top: 260rem;
    }

    .Cyrillic {
    	margin-top: 65rem;
    }

    .parahrafaDiv {
    	float: none;
    	width: fit-content;
    	margin: auto;
    }

    .parahrafa {
    	margin-top: -4rem;
    }

    .Pryvit {
    	position: relative;
    	bottom: 2.3rem;
    }

    .languageVideo {
    	position: relative;
    	bottom: 30rem;
    }

    .pronounce {
    	position: relative;
    	bottom: 30rem;
    }

    .langInline {
    	width: 600px;
    }

    .Krasota {
    	font-size: 0.8em;
    }

    .moreLangText {
    	margin-right: 0;
    }

    .langInline {
    	margin: 0;
    }

    .moreLanguage {
    	width: fit-content;
    	margin: auto;
    }

    .gridLanguage {
    	float: none;
    }

    #historyParagraph {
    	margin-bottom: 35rem;
    }

    .historyTopic {
    	float: none;
    	left: 8rem;
    	top: 64rem;
    }

    .BriefParagraph {
    	width: 600px;
    }

    .BriefTitle {
    	font-size: 1em;
    	bottom: 4.5rem;
    }

    .historyImages {
    	height: 21900px;
    }

    .imagesPeremozhe {
    	margin-bottom: 13rem;
    }

    .historyCulture {
    	float: none;
    	margin-right: 0;
    	margin-left: 2rem;
    	margin-top: -32rem;
    	margin-bottom: 2rem;
    }

    .Vebir {
    	float: none;
    	margin-right: 0;
    	margin-left: 0.5rem;
    	margin-top: 0rem;
    }

    .CultureImages {
    	height: 1720px;
    }

    #UkraineCulture {
    	line-height: 85px;
    }
}

@media only screen and (max-width: 1080px) {

	.navLinks {
		font-size: 2em;
	}

	#welcomeToUkrainePeremozhe {
		margin-left: 23rem;
	}

	.introduction {
		margin-left: 21rem;
	}

	.extraNav {
		display: block;
	}

	.extraClasses {
		margin-top: 0;
		margin-bottom: 0;
		width: 270px;
	}

	.extraHeader {
		margin-bottom: 0;
	}

	#extraSection {
	    margin-left: 24rem;
	    margin-top: -27.7rem;
   }
    #extraSectionTWO {
	    margin-left: 24rem;
	    margin-top: -27.7rem;
    }
    #extraSectionSIX {
	    margin-left: 24rem;
	    margin-top: -27.7rem;
    }
    #extraSectionSEVEN {
	    margin-left: 24rem;
	    margin-top: -27.7rem;
    }
    #extraSectionEIGHT {
	    margin-left: 24rem;
	    margin-top: -27.7rem;
    }
    #extraSectionNINE {
	    margin-left: 24rem;
	    margin-top: -27.7rem;
    }

    .extraNav {
    	margin-top: 10rem;
    	margin-left: -5rem;
    }

    .QID {
    	font-size: 1.5em;
    }

    .extraAn {
    	font-size: 1em;
    }
}

@media only screen and (max-width: 1050px) {

	.introduction {
		width: 600px;
	}

	#welcomeToUkrainePeremozhe {
		margin-left: 20.5rem;
	}

	.contactUkrainePeremozhe {
		top: 0;
	}

	#extraSection {
	    margin-left: 20rem;
   }
    #extraSectionTWO {
	    margin-left: 20rem;
    }
    #extraSectionSIX {
	    margin-left: 20rem;
    }
    #extraSectionSEVEN {
	    margin-left: 20rem;
    }
    #extraSectionEIGHT {
	    margin-left: 20rem;
    }
    #extraSectionNINE {
	    margin-left: 20rem;
    }

    .imgQ1 {
    	margin-left: 10px;
    }

    .imgQ2 {
    	margin-right: 10px;
    }

    .Cyrillic {
    	left: -2rem;
    }

    .languageVideo {
    	position: relative;
    	right: 3rem;
    }

    .pronounce {
    	position: relative;
    	right: 3rem;
    }
}

@media only screen and (max-width: 970px) {

	.introduction {
		width: 500px;
		font-size: 1.3em;
	}

	.contactUkrainePeremozhe {
		top: 2rem;
	}

	#welcomeToUkrainePeremozhe {
		font-size: 0.8em;
		margin-left: 21.5rem;
	}

	.imgQ2 {
		display: none;
	}

	.tableMarginQ {
		margin-left: 16rem;
		margin-right: 0;
	}

	.QID {
		margin-left: 12rem;
		margin-right: 0;
	}

	.Cyrillic {
    	left: -4rem;
    }

    .languageVideo {
    	right: 5rem;
    }

    .pronounce {
    	right: 5rem;
    }

    .BriefSummary {
    	width: 600px;
    }
}

@media only screen and (max-width: 930px) {

	.navLinks {
		font-size: 1.7em;
	}

	#extraSection {
	    width: 500px;
   }
    #extraSectionTWO {
	    width: 500px;
    }
    #extraSectionSIX {
	    width: 500px;
    }
    #extraSectionSEVEN {
	    width: 500px;
    }
    #extraSectionEIGHT {
	    width: 500px;
    }
    #extraSectionNINE {
	    width: 500px;
    }

    .extraInline {
    	font-size: 2em;
    }

    .extraParagraph {
    	width: 450px;
    	font-size: 0.95em;
    }

    #influenceBtn {
    	margin-top: 1rem;
    	margin-left: 12rem;
    }
    #influenceBtnTWO {
    	margin-left: 12rem;
    }
    #influenceBtnSIX {
    	margin-left: 12rem;
    }
    #influenceBtnSEVEN {
    	margin-top: 1rem;
    	margin-left: 12rem;
    }
    #influenceBtnEIGHT {
    	margin-top: 1rem;
    	margin-left: 12rem;
    }
    #influenceBtnNINE {
    	margin-left: 12rem;
    }

    .Cyrillic {
    	left: -6rem;
    }

    .languageVideo {
    	right: 7rem;
    }

    .pronounce {
    	right: 7rem;
    }

    #historyName {
    	text-align: left;
    }

    #historyParagraph {
    	width: 400px;
    	margin-left: 1rem;
    }

    .BriefParagraph {
    	width: 400px;
    }

    .historyTopic {
    	top: 80rem;
    	left: 3rem;
    }

    .historyImages {
    	height: 31200px;
    }

    .imagesPeremozhe {
    	margin-bottom: 26rem;
    }

    .BriefTitle {
    	font-size: 0.8em;
    }
}

@media only screen and (max-width: 900px) {

	.newAdditions {
		font-size: 1em;
		width: 250px;
	}

	.Learn {
		margin-left: -15rem;
	}

	.navLinks {
		margin-top: 0.5rem;
	}
}

@media only screen and (max-width: 860px) {

	.extraInformation {
	    position: absolute; 
        bottom: 0;
        margin-bottom: -24rem;
	}

	#welcomeToUkrainePeremozhe {
		position: relative;
		top: 30rem;
		right: 18rem;
		white-space: nowrap;
	}

	.contactUkrainePeremozhe {
		margin-top: 3rem;
		margin-left: 20rem;
	}

	.introduction {
		font-size: 1em;
		width: 650px;
		margin-top: 31rem;
		margin-left: 1rem;
	}

	body {
		height: 1050px;
	}
}

@media only screen and (max-width: 850px) {

	.divNavigator {
		margin-left: -3rem;
	}

	.navLinks {
		margin-left: 1.5rem;
	}

	.extraInline {
		font-size: 1.2em;
	}

	#extraSection {
		width: 380px;
	}
	#extraSectionTWO {
		width: 380px;
	}
	#extraSectionSIX {
		width: 380px;
	}
	#extraSectionSEVEN {
		width: 380px;
	}
	#extraSectionEIGHT {
		width: 380px;
	}
	#extraSectionNINE {
		width: 380px;
	}

	.extraParagraph {
		width: 350px;
		font-size: 0.8em;
	}

	#quizParagraph {
	    font-size: 0.9em;
    }

    #kartynyParagraph {
	    font-size: 1em;
    }

    #sourcesParagraph {
	    font-size: 1.2em;
    }

	#influenceBtn {
		margin-top: 1rem;
		margin-left: 8rem;
	}
	#influenceBtnTWO {
		margin-left: 8rem;
	}
	#influenceBtnSIX {
		margin-left: 8rem;
	}
	#influenceBtnSIX {
		margin-left: 8rem;
	}
	#influenceBtnSEVEN {
		margin-top: 1rem;
		margin-left: 8rem;
	}
	#influenceBtnEIGHT {
		margin-top: 1rem;
		margin-left: 8rem;
	}
	#influenceBtnNINE {
		margin-left: 8rem;
	}

	.topicBoxes {
		margin-top: 5rem;
	}

	.extraDaily {
	    float: none;
	    margin-left: 1rem;
	    margin-top: 5rem;
	}

	.progressQ {
		flex-wrap: wrap;
	}

	#progressName {
		bottom: 6rem;
	}

	.QID {
		margin-left: 15rem;
		font-size: 1.2em;
	}

	#CorrectAnswers {
		font-size: 1.5em;
	}

	.Cyrillic {
    	left: -10rem;
    }

    .languageVideo {
    	right: 11rem;
    }

    .pronounce {
    	right: 11rem;
    }

    .Krasota {
    	font-size: 0.6em;
    }

    .BriefTitle {
    	font-size: 0.6em;
    }
}

@media only screen and (max-width: 780px) {

	.QID {
		margin-left: 10rem;
	}

	.tableMarginQ {
		margin-left: 12rem;
	}

	.historyImages {
		display: none;
	}

	.CultureImages {
		display: none;
	}
}

@media only screen and (max-width: 730px) {

	.newAdditions {
		position: relative;
		bottom: 3.5rem;
		left: 3rem;
	}

	.navigator {
		display: block;
	}

	.navLinks {
		width: fit-content;
	}

	.Learn {
		margin-left: -20rem;
	}

	.contactUkrainePeremozhe {
		margin-top: 6rem;
	}

	#welcomeToUkrainePeremozhe {
		margin-top: -30rem;
	}

	.extraNav {
		margin-top: 41rem;
		margin-left: 7rem;
	}

	#extraSection {
		margin-top: -58rem;
		margin-left: 10rem;
	}
	#extraSectionTWO {
		margin-top: -58rem;
		margin-left: 10rem;
	}
	#extraSectionSIX {
		margin-top: -58rem;
		margin-left: 10rem;
	}
	#extraSectionSEVEN {
		margin-top: -58rem;
		margin-left: 10rem;
	}
	#extraSectionEIGHT {
		margin-top: -58rem;
		margin-left: 10rem;
	}
	#extraSectionNINE {
		margin-top: -58rem;
		margin-left: 10rem;
	}

	.extraAn {
		font-size: 0.8em;
	}

	.tableMarginQ {
		margin-left: 14rem;
	}

	.QID {
		font-size: 1em;
	}

	.Cyrillic {
    	left: -12rem;
    }

    .languageVideo {
    	right: 13rem;
    }

    .pronounce {
    	right: 13rem;
    }
}

@media only screen and (max-width: 680px) {

	.introduction {
		width: 500px;
	}

	#welcomeToUkrainePeremozhe {
		right: 20.5rem;
	}

	.extraInformation {
		margin-bottom: -32rem;
	}

	body {
		height: 1180px;
	}

	#CorrectAnswers {
		font-size: 1.2em;
	}

	.Cyrillic {
    	left: -14rem;
    	margin-top: 82rem;
    }

    .languageVideo {
    	right: 15rem;
    }

    .pronounce {
    	right: 15rem;
    	white-space: nowrap;
    }

    .langInline {
    	width: 400px;
    }

    .parahrafa {
    	width: 400px;
    }

    .basicWords {
    	margin-top: 295rem;
    }
}

@media only screen and (max-width: 600px) {
	
	.navLinks {
		font-size: 1.5em;
	}

	.Learn {
		margin-left: -25rem;
	}

	#extraSection {
		margin-left: 5rem;
	}
	#extraSectionTWO {
		margin-left: 5rem;
	}
	#extraSectionSIX {
		margin-left: 5rem;
	}
	#extraSectionSEVEN {
		margin-left: 5rem;
	}
	#extraSectionEIGHT {
		margin-left: 5rem;
	}
	#extraSectionNINE {
		margin-left: 5rem;
	}

	.extraNav {
		margin-left: 2rem;
	}

	.continuePageName {
		font-size: 2em;
		margin-top: 2.5rem;
	}

	.QID {
		margin-left: 8rem;
	}

	.Cyrillic {
    	left: -17rem;
    }

    .languageVideo {
    	right: 18rem;
    }

    .pronounce {
    	right: 18rem;
    }

    .Krasota {
    	font-size: 0.5em;
    }

    .basicWords {
    	margin-top: 310rem;
    }
}

@media only screen and (max-width: 550px) {

	.contactUkrainePeremozhe {
		margin-top: 8rem;
	}

	.Learn {
		margin-left: -30rem;
	}

	#extraSection {
		margin-left: 1rem;
	}
	#extraSectionTWO {
		margin-left: 1rem;
	}
	#extraSectionSIX {
		margin-left: 1rem;
	}
	#extraSectionSEVEN {
		margin-left: 1rem;
	}
	#extraSectionEIGHT {
		margin-left: 1rem;
	}
	#extraSectionNINE {
		margin-left: 1rem;
	}

	.extraNav {
		margin-left: -2rem;
	}

	.imgQ1 {
		display: none;
	}

	.divQ {
		top: 10rem;
	}

	.QID {
		margin: auto;
	}

	.tableMarginQ {
		margin: auto;
	}
}

@media only screen and (max-width: 530px) {

	.introduction {
		width: 400px;
	}

	.title {
		font-size: 2em;
	}

	.contactUkrainePeremozhe {
		position: relative;
		top: 16rem;
		right: 16.5rem;
	}

	body {
		height: 1600px;
	}

	.newAdditions {
		font-size: 0.7em;
		width: 200px;
		bottom: 3rem;
	}

	.ImyaKartyny {
		font-size: 2em;
	}

	.Opys {
		width: 320px;
	}

	.Kartyny {
		margin-top: 5rem;
	}

	#CorrectAnswers {
		font-size: 1em;
	}
}

@media only screen and (max-width: 480px) {

	.navLinks {
		font-size: 1.8em;
	}

	.newAdditions {
		bottom: 3.6rem;
		width: 120px;
	}

	.continuePageName {
		font-size: 1.5em;
		margin-top: 2.8rem;
	}

	.Cyrillic {
    	left: -19rem;
    }

    .languageVideo {
    	right: 20rem;
    }

    .pronounce {
    	right: 20rem;
    }
}

@media only screen and (max-width: 450px) {

	.introduction {
		width: 300px;
	}

	.title {
		font-size: 1.5em;
	}

	.extraInformation {
		margin-bottom: -45rem;
	}

	body {
		height: 1850px;
	}

	.QID {
		font-size: 0.9em;
	}

	.extraAn {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 430px) {

	.Learn {
		width: 320px;
	}

	.Imya {
		font-size: 0.7em;
	}

	.KrasotaDva {
		font-size: 0.5em;
	}

	.Description {
		width: 300px;
		font-size: 0.8em;
	}

	.extraPictureMargin {
		width: 120px;
		height: 90px;
	}

	.extraInline {
		font-size: 0.9em;
		position: relative;
		top: -45px;
	}

	#extraSection {
		width: 300px;
	}
	#extraSectionTWO {
		width: 300px;
	}
	#extraSectionSIX {
		width: 300px;
	}
	#extraSectionSEVEN {
		width: 300px;
	}
	#extraSectionEIGHT {
		width: 300px;
	}
	#extraSectionNINE {
		width: 300px;
	}

	.extraParagraph {
		width: 280px;
		font-size: 0.8em;
	}

    #kartynyParagraph {
	    font-size: 0.95em;
    }

	#influenceBtn {
		margin-top: 0.5rem;
		margin-left: 5.5rem;
	}
	#influenceBtnTWO {
		margin-top: 0.5rem;
		margin-left: 5.5rem;
	}
	#influenceBtnSIX {
		margin-left: 5.5rem;
		position: relative;
		top: 1.2rem;
	}
	#influenceBtnSIX {
		margin-top: 0.5rem;
		margin-left: 5.5rem;
	}
	#influenceBtnSEVEN {
		margin-top: 0.5rem;
		margin-left: 5.5rem;
	}
	#influenceBtnEIGHT {
		margin-top: 0.5rem;
		margin-left: 5.5rem;
	}
	#influenceBtnNINE {
		margin-top: 0.5rem;
		margin-left: 5.5rem;
	}

	.extraNav {
		margin-left: -4rem;
	}

	.continuePageName {
		margin-left: -2rem;
	}

	.extraDaily {
		width: 300px;
	}

	.Treba {
		font-size: 0.8em;
	}

	.topicBoxes {
		margin-left: 0.8rem;
	}

	.inlineQP {
		width: 20px;
		height: 20px;
	}

	#CorrectAnswers {
		font-size: 0.8em;
	}

	.scoreBox {
		width: 320px;
	}

	.Krasota {
		font-size: 0.4em;
	}

	.BriefParagraph {
		width: 320px;
	}

	#historyParagraph {
		width: 320px;
		margin-left: 0.5rem;
	}

	.historyTopic {
		top: 100rem;
		left: 0.1rem;
	}

	.BriefTitle {
		bottom: 11rem;
		left: -15rem;
		font-size: 0.8em;
	}

	.historyCulture {
		margin-left: 0.5rem;
	}

	.Vebir {
		width: 350px;
		height: 200px;
	}
}

@media only screen and (max-width: 400px) {

	.newAdditions {
		width: 80px;
		bottom: 4.5rem;
		left: 2rem;
	}

	.continuePageName {
		font-size: 1.2em;
	}

	.QID {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 350px) {

	.Learn {
		margin-left: -30.5rem;
	}
}
